<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<p> <img src="https://www.google.com/search?q=photo&rlz=1C1CHWL_enIN900IN900&sxsrf=ALeKk01jTeg7MbNqNiaFuk6a31uDr37VTQ:1615364002617&tbm=isch&source=iu&ictx=1&fir=RTFFJeQUMSbUJM%252CAgAT_yR1X6xrJM%252C_&vet=1&usg=AI4_-kTho14ISFTZXGMt744JFQMspcOahA&sa=X&ved=2ahUKEwiZ2bvso6XvAhXFjOYKHeOBBAoQ9QF6BAgFEAE#imgrc=RTFFJeQUMSbUJM" style="width:100px ;height: 100px;"/>
    <br>

   Dear Student {{ name }}<br>
   Your enrollment Number {{ enroll }} is successfully registered for {{ sem }} semester in {{ course }} department.<br><br>
    If it is not done by you so, Please contact to HOD of your department {{ course }}.
</p> <br>Thank You <br>Regards<br> Principal AIT.
</body>
</html>