<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Education &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
        <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
        <meta name="author" content="freehtml5.co" />
    
        <!-- 
        //////////////////////////////////////////////////////
    
        FREE HTML5 TEMPLATE 
        DESIGNED & DEVELOPED by FreeHTML5.co
            
        Website: 		http://freehtml5.co/
        Email: 			info@freehtml5.co
        Twitter: 		http://twitter.com/fh5co
        Facebook: 		https://www.facebook.com/fh5co
    
        //////////////////////////////////////////////////////
         -->
    
          <!-- Facebook and Twitter integration -->
        <meta property="og:title" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta property="og:description" content=""/>
        <meta name="twitter:title" content="" />
        <meta name="twitter:image" content="" />
        <meta name="twitter:url" content="" />
        <meta name="twitter:card" content="" />
    
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
        
        <!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">
        <!-- Icomoon Icon Fonts-->
        <link rel="stylesheet" href="css/icomoon.css">
        <!-- Bootstrap  -->
        <link rel="stylesheet" href="css/bootstrap.css">
    
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="css/magnific-popup.css">
    
        <!-- Owl Carousel  -->
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
    
        <!-- Flexslider  -->
        <link rel="stylesheet" href="css/flexslider.css">
    
        <!-- Pricing -->
        <link rel="stylesheet" href="css/pricing.css">
    
        <!-- Theme style  -->
        <link rel="stylesheet" href="css/style.css">
    
        <!-- Modernizr JS -->
        <script src="js/modernizr-2.6.2.min.js"></script>
        <!-- FOR IE9 below -->
        <!--[if lt IE 9]>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    
    
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" >
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" >
    </head>
    <body>
        		
	<div class="fh5co-loader"></div>
	
	<div id="page">        <!--Start student header-->
        <nav class="fh5co-nav" role="navigation">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <p class="site">Alpine Institute Of Technology</p>
                            <p class="num">Call: 0734-787878</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook2"></i></a></li>
                                <li><a href="#"><i class="icon-twitter2"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                                <li><a href="#"><i class="icon-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2">
                            <div id="fh5co-logo"><a href="index.html"><i class="icon-study"></i>AIT<span></span></a></div>
                        </div>
                        <div class="col-xs-10 text-right menu-1">
                            <ul>
                                <li class="active"><a href="student_pages/student_home.html">Dashboard</a></li>
                                <li><a href="student_pages/Student_registration.html">Registration</a></li>
                                <li><a href="profile.html">Profile</a></li>
                                
                                <li class="has-dropdown">
                                    <a href="#">Student Services</a>
                                    <ul class="dropdown">
                                        <li><a href="http://result.rgpv.ac.in/result/programselect.aspx?id=$%">Senester Result</a></li>
                                        <li><a href="mstresult.html">MST Result</a></li>
                                        <li><a href="attendance.html">Attendance</a></li>
                                        <li><a href="nodues.html">No Dues</a></li>		
                                    </ul>
                                </li>
                                
                                <li><a href="student_pages/student_login.html">logout</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </nav>
        <!-- end student Header -->

	<!-- start Heading section -->
	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
		   	<li style="background-image: url(images/img_bg_4.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">

                            <div class="slider-text-inner">
                                <h1>Student Profile</h1>
                           
                            </div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
<!-- end Heading section-->
<!--start profile-->
<centre>
<br>
<div class="container bootdey flex-grow-1 container-p-y">

    <div class="media align-items-center py-3 mb-3">
      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="d-block ui-w-100 rounded-circle">
      <div class="media-body ml-4 ">
        <h4 class="font-weight-bold">John Doe </h4>
        
        <button type="submit" href="javascript:void(0)" class="btn btn-primary btn-sm">Edit</a>&nbsp;
              </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <table class="table user-view-table m-0">
          <tbody>
            <tr>
              <td>Registered:</td>
              <td>01/23/2017</td>
            </tr>
            <tr>
              <td>Verified:</td>
              <td><span class="fa fa-check text-primary"></span>&nbsp; Yes</td>
            </tr>
            <tr>
              <td>Role:</td>
              <td>User</td>
            </tr>
            <tr>
              <td>Status:</td>
              <td><span class="badge badge-outline-success">Active</span></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>nmaxwell</td>
              </tr>
              <tr>
                <td>Name:</td>
                <td>Nelle Maxwell</td>
              </tr>
              <tr>
                <td>E-mail:</td>
                <td>nmaxwell@mail.com</td>
              </tr>
              <tr>
                <td>Company:</td>
                <td>Company Ltd.</td>
              </tr>
              
        </tbody>
        </table>

    </div>

      </div>
    </div>

  </div>
</centre>
<!--end profile-->

</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Count Down -->
	<script src="js/simplyCountdown.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
	<script>
    var d = new Date(new Date().getTime() + 1000 * 120 * 120 * 2000);

    // default example
    simplyCountdown('.simply-countdown-one', {
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate()
    });

    //jQuery example
    $('#simply-countdown-losange').simplyCountdown({
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate(),
        enableUtc: false
    });
	</script>

        
</body>
</html>

