<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<p>
   Dear Student {{ name }}<br><br>
   Hii! Enrollment number {{ enroll }} Your Alpine Institute Of Technology Institute fees is pending now of {{ course }} department.
    <br>Please submit your fees ....
    Your pending Fees is {{ previous_pending }}/- only
   <br>
    Please submit your fees soon or contact to your {{ course }} HOD .
    <br><br>
    Thank You<br>
    BY Principle of AIT
</p>
</body>
</html>