
{% extends 'faculty_pages/faculty_base.html' %}
{% load static %}
{%  block content%}
 <div class="fh5co-loader"></div>

	<div id="page">

 <aside id="fh5co-hero">
		<div class="flexslider">
			<ul style="list-style-type:none;margin-left:-45px;">
		   	<li style="background-image: url({% static 'img_bg_4.jpg'%});">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
<a href="#contact-form">			   					<h1 class="heading-section">Update Added Student</h1>
</a>			<h2>Register yourself for every semester for to know Evrything quickly and faster.</h2>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside><br><br>
<br><br>
        <div class="registration-form" style="margin:70px;">
        <form action="{% url 'do_update_added_student' id=data.id %}" method="post">
            {% csrf_token %}
            <center>
                <span class="h3" style="color:#5A8EF6">Update Student</span>
            </center>
            <br>
            <div class="form-group">
                <input type="text" class="form-control item" id="birth-date" name="name" value="{{ data.name }}" required>
            </div>
            <div class="form-group">
                <input type="text" pattern="{A-Z,0-9}" class="form-control item" id="username" name="enrollment_number" value="{{ data.enrollment_number }}" required>
            </div>
            <div class="form-group">


        <select id="form_need" name="branch" class="form-control item" value="{{ data.branch }}" required="required" data-error="Please specify your need.">
                                                    <option value="" selected disabled>--Select Your Courses--</option>
                                                    <option value="Mechanical_Engineering_(BE) ">Mechanical Engineering (BE) </option>
                                                    <option value="Civil_Engineering_(BE)">Civil Engineering (BE)</option>
                                                    <option value="Computer_Science_Engineering_(BE)">Computer Science Engineering (BE)</option>
                                                    <option value="Electrical_Engineering_(BE)">Electrical Engineering (BE)</option>
                                                    <option value="Electronics_&_Comunication_Engineering_(BE)">Electronics & Comunication Engineering (BE)</option>
                                                <option value="Mechanical_Engineering_(B Tech)">Mechanical Engineering (B Tech) </option>
                                                    <option value="Civil_Engineering_(B Tech)">Civil Engineering (B Tech)</option>
                                                    <option value="Computer_Science_Engineering_(B Tech)">Computer Science Engineering (B Tech)</option>
                                                    <option value="Electrical_Engineering_(B Tech)">Electrical Engineering (B Tech)</option>
                                                    <option value="Electronics_&_Comunication_Engineering_(B Tech)">Electronics & Comunication Engineering (B Tech)</option>
                                                    <option value="Mechanical_Engineering_(M Tech)">Mechanical Engineering (M Tech) </option>
                                                    <option value="Civil_Engineering_(M Tech)">Civil Engineering (M Tech)</option>
                                                    <option value="Computer_Science_Engineering_(M Tech)">Computer Science Engineering (M Tech)</option>
                                                    <option value="Electrical_Engineering_(M Tech)">Electrical Engineering (M Tech)</option>
                                                    <option value="Electronics_&_Comunication_Engineering_(M Tech)">Electronics & Comunication Engineering (M Tech)</option>
                                                <option value="Master_Of_Administration_(MBA)">Master Of Administration (MBA)</option>
                                                 <option value="Mechanical_Engineering_(Diploma)">  Mechanical Engineering(Diploma)</option>
                                                    <option value="Electrical_Engineering_(Diploma)">Electrical Engineering(Diploma)</option>
                                                    <option value="Electronics_and_Communication (Diploma) "> Electronics and Communication (Diploma) </option>
                                                    <option value="Civil_Engineering_(Diploma)">Civil Engineering (Diploma)</option>
                                                    <option value="Computer_Science_and_Engineering_(Diploma)">Computer Science and Engineering (Diploma)</option>
                                                <option value="IT_Engineering_(Diploma)"> IT Engineering (Diploma)</option>
                                                 <option value=">Chemical_Engineering_(Diploma)">Chemical Engineering (Diploma)</option>
                                                 <option value="Mechanical_Engineering_(ITI)  "> Mechanical Engineering (ITI)  </option>
                                                    <option value="Tool_&_Die_Maker_Engineering_(ITI) ">Tool & Die Maker Engineering(ITI) </option>
                                                    <option value="Pump_Operator_(ITI)">Pump Operator (ITI) </option>
                                                    <option value="Civil_Engineering_(ITI )"> Civil Engineering (ITI ) </option>
                                                    <option value="Fitter_Engineering_(ITI)">Fitter Engineering(ITI)</option>
                                                 <option value="Computer_Engineering_(ITI)">Computer Engineering(ITI)</option>
                                                <option value="Turner_Engineering_(ITI)">Turner Engineering(ITI)</option>
                                                 <option value="Bechelor_in_Pharmacy">Bechelor in Pharmacy</option>
                                                <option value="Master_in_Pharmacy">Master in Pharmacy</option>


                                                </select>
            </div>
<div class="form-group">
              <center> <button type="Submit" class="btn btn-primary " style="border-radius: 10px;width:180px;">Update </button></center>
            </div>
        </form>
    </div>



	<!-- jQuery -->
	<script src="{% static 'jquery.min.js'%}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'jquery.easing.1.3.js'%}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'bootstrap.min.js'%}"></script>
	<!-- Waypoints -->
	<script src="{% static 'jquery.waypoints.min.js'%}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'jquery.stellar.min.js'%}"></script>
	<!-- Carousel -->
	<script src="{% static 'owl.carousel.min.js'%}"></script>
	<!-- Flexslider -->
	<script src="{% static 'jquery.flexslider-min.js'%}"></script>
	<!-- countTo -->
	<script src="{% static 'jquery.countTo.js'%}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'jquery.magnific-popup.min.js'%}"></script>
	<script src="{% static 'magnific-popup-options.js'%}"></script>
	<!-- Count Down -->
	<script src="{% static 'simplyCountdown.js'%}"></script>
	<!-- Main -->
	<script src="{% static 'main.js'%}"></script>

{% endblock %}
